.card__project {
  background-color: var(--color-dark-blue);
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 245px;
  width: 100%;
  max-width: 360px;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
}

.card__project:hover .card__project__image {
  filter: grayscale(0);
  transition: all 1s ease-in-out;
}

.card__project__image {
  align-self: center;
  box-sizing: border-box;
  max-height: 210px;
  height: auto;
  width: 100%;
  filter: grayscale(1);
}

.card__project__button {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: end;
  padding: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, .20);
  transition: 0.5s;
}

.card__project__button:hover {
  background-color: rgba(0, 0, 0, 0.50);
}

.card__project__link {
  color: var(--color-primary-text);
  height: 30px;
  width: 30px;
  margin: 4px;
  font-size: 1.4rem;
}

.card__project__body {
  background-color: var(--color-dark-blue);
  bottom: 0;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-self: end;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  transition: 0.4s;
  width: 100%;
}

.card__project__body:hover {
  animation: over 0.6s;
  height: 82%;
  transition: all 0.8s;
}

.card__project__body:hover .card__project__show__description {
  transform: translateX(-50%) rotate(180deg);
  transition: all 0.8s;
}

.card__project__body:hover ~ .card__project__button {
  background-color: var(--color-dark-blue);
}

.card__project__title {
  font-size: 1.4rem;
  padding: 20px 0;
}

.card__project__show__description {
  box-sizing: border-box;
  height: 30px;
  left: 50%;
  padding: 6px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 30px;
}

@keyframes over {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
