.skills {
    display: grid;
    margin: auto 0;
    width: 100%;
    height: 50%;
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    gap: 1rem;
}

@media (max-width: 980px) {
    .skills {
        margin: 0;
        height: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    }
}