:root {
    --color-primary-text: rgba(255, 255, 255, 0.87);
    --background: #040404;
    --background-box: #000000;
    --color-blue: #00C2FF;
    --color-gray: #383838;
    --color-gray-75: #545454;
    --color-gray-stroke: #1B1B1B;
    --color-dark-blue: #1C232F;
}
